<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@1.10.2/dist/index.classic.css" />
<script src="https://cdn.jsdelivr.net/npm/vditor@1.10.2/dist/index.min.js"></script>

<%- include('./../components/header_createBlog.html') %>

<div class="handBookCreate">
    <div class="partList">
        <div class="title">
           《<%= handBook.title %>》
        </div>
        <div class="listBody">
            <div class="listCard">
                <div class="step">
                    <div class="step-btn">
                        1
                    </div>
                </div>
                <div class="center">
                    前言
                </div>
            </div>

        </div>
        <div class="addPart">
            <input type="text" id="partTitle" class="form-control" placeholder="输入章节名称">
            <button class="btn btn-primary addPartBtnOk">确定</button>
            <button class="btn btn-default addPartBtnCl">取消</button>
        </div>
        <button class="btn btn-primary addPartBtn">添加章节</button>

    </div>
    <div class="concent">
        <form class="blogCreate">
            <div class="createBlog">
                <div id="vditor"></div>
                <textarea id="blogContent" style="display: none;"><%= handBook.content %></textarea>
            </div>
        </form>
    </div>
</div>




<script>
    const vditor = new Vditor('vditor', {
        typewriterMode: true,
        height: 1000,
        width: "100%",
        placeholder: "请输入博客正文",
        hint: {
            emojiPath: 'https://cdn.jsdelivr.net/npm/vditor@latest/dist/images/emoji',
            // emojiTail: '<a href="https://hacpai.com/settings/function" target="_blank">设置常用表情</a>',
            emoji: emoji,
        },
        tab: '\t',
        preview: {
            delay: 500,
            hljs: {
                lineNumber: true
            }
        },
        upload: {
            accept: 'image/*,.wav',
            token: 'test',
            url: '/tool/upload',
            max: "3 * 1024 * 1024",
            linkToImgUrl: '/tool/upload',
            format: (files, responseText) => {
                console.log(files, responseText);
            },
            success: (res) => {
                console.log(res);
            },

            filename: (name) => {
                return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').
                    replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').
                    replace('/\\s/g', '')
            },

        }
    });

    if (document.getElementById('blogContent').textContent) {
        vditor.setValue(document.getElementById('blogContent').textContent);
    }

</script>


<script>
    let handBook = JSON.parse(decodeURIComponent("<%= handBookJson %>"));
    let partTitle = '';
    let userId = "<%=req.session.user._id||''%>";
    let contentType = '<%=editor %>';
    let blogId = "";
    let blog = {};
    let firstShow = true;
    console.log(handBook);

    $('.addPartBtn').click(function () {
        $(".addPart").css({ "display": "block" });
        $(".addPartBtn").css({ "display": "none" });
    })
    $('.addPartBtnOk').click(function () {
        createPart()
    })
    $('.addPartBtnCl').click(function () {
        $(".addPart").css({ "display": "none" });
        $(".addPartBtn").css({ "display": "block" });
    })

    //渲染章节
    function xrPart() {
        $(".listBody").empty();
        let partList = "";
        for (let i = 0; i < handBook.chapter.length; i++) {
            partList = partList +
                `<div class="listCard">
                    <div class="step">
                        <div class="step-btn">
                            ${i + 1}
                        </div>
                    </div>
                    <div class="center">
                        ${handBook.chapter[i].title}
                    </div>
                </div>`;
        }
        $(".listBody").html(partList);
    }
    xrPart();
    //发布文章
    function createPart(id, title) {
        let contert = vditor.getValue() || '章节正文';
        let useTitle = title || $("#partTitle").val();
        if (contert == blog.content) {
            return
        };
        if (!useTitle) {
            alert("章节标题不能为空");
            return
        }
        let data = {
            publishForm: 'handBook',
            author: userId,
            title: useTitle,
            content: contert,
            contentType: contentType,
            createType: handBook.createType._id,
            classifications: handBook.classifications._id,
        }

        let url = '/blog'
        if (blogId) {
            data.blogId = blogId;
            url = '/blog/update'
        }
        showSh()
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: (res) => {
                hideSh();
                if (res.state == 0) {
                    updatePart(res.data || res.Blog);
                    $(".addPart").css({ "display": "none" });
                    $(".addPartBtn").css({ "display": "block" });

                } else {
                    alert(res.msg)
                }
            },
        });
    }
    //更新手册章节信息
    async function updatePart(data) {
        let ifUpdate = true;
        for (let i = 0; i < handBook.chapter.length; i++) {
            if (handBook.chapter[i].id == data.id) {
                handBook.chapter[i] = {
                    id: data._id,
                    title: data.title,
                }
            }
        }
        if (ifUpdate) {
            handBook.chapter.push({
                id: data._id,
                title: data.title,
            })
        }
        xrPart();
        return new Promise(function (res, rej) {
            $.ajax({
                type: 'POST',
                url: '/api/handBook/update',
                data: {
                    _id: handBook._id,
                    handBookData: encodeURIComponent(JSON.stringify(handBook)),
                },
                success: (res) => {
                    if (res.state == 0) {
                        handBook = res.data;
                        xrPart();
                        selPart(handBook.chapter.length - 1);
                        $(".listBody").children(".listCard").eq(handBook.chapter.length - 1).addClass("active");
                        res()
                    } else {
                        alert(res.msg);
                        rej();
                    }
                },
            });
        })

    }
    //选择章节
    async function selPart(index) {
        blogId = handBook.chapter[index].id;
        if (!firstShow) {
            await createPart(blogId, handBook.chapter[index].title);
        } else {
            firstShow = false;
        }
        $.ajax({
            type: 'GET',
            url: '/api/blog/' + blogId,
            success: (res) => {
                if (res.state == 0) {
                    blog = res.data;
                    vditor.setValue(res.data.content);
                } else {
                    alert(res.msg)
                }
            },
        });
    }

    $(".listBody .listCard").click(function (event) {
        var index = $(".listBody .listCard").index(this);
        $(".listBody").children(".listCard").removeClass("active");
        $(".listBody").children(".listCard").eq(index).addClass("active");
        selPart(index);
    });

    if (handBook.chapter.length > 0) {
        selPart(0);
        $(".listBody").children(".listCard").eq(0).addClass("active");
    } else {
        $(".blogCreate").css({ "display": "none" })
    }

    async function saveBook() {
        await createPart();
        window.location.href = "/handBook";
    }
</script>



<style>
    body {
        background-color: #fff;
    }

    .vditor-toolbar {
        background-color: #fff;
        border-bottom: 0px solid #d1d5da;
        padding: 8px 5px;
        border-radius: 0 0;
    }

    .vditor {
        border: 0px solid #d1d5da;
    }

    .vditor-textarea {
        background-color: #fafafa;
    }

    .vditor-toolbar svg {
        width: 16px;
        height: 16px;
    }
</style>