<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@latest/dist/index.classic.css" />
<script src="https://cdn.jsdelivr.net/npm/vditor@latest/dist/index.min.js"></script>
<script src="https://cdn.bootcss.com/Sortable/1.10.1/Sortable.js"></script>

<%- include('./../components/header_createBlog.html') %>

<div class="handBookCreate">
    <div class="partList">
        <div class="title">
            《<%= handBook.title %>》
        </div>
        <div class="listBody" id="sortPart">
            <div class="listCard">
                <div class="step">
                    <div class="step-btn">
                        1
                    </div>
                </div>
                <div class="center">
                    前言
                </div>
                <div class="moveBtn">
                    <i class="iconfont icon-yidong"></i>
                </div>
            </div>

        </div>
        <div class="addPart">
            <input type="text" id="partTitle" class="form-control" placeholder="输入章节名称">
            <button class="btn btn-primary addPartBtnOk">确定</button>
            <button class="btn btn-default addPartBtnCl">取消</button>
        </div>
        <button class="btn btn-primary addPartBtn">添加章节</button>

    </div>
    <div class="concent">
        <form class="blogCreate">
            <div class="createBlog">
                <div id="vditor"></div>
                <textarea id="blogContent" style="display: none;"><%= handBook.content %></textarea>
            </div>
        </form>
    </div>
</div>


<script>
    const vditor = new Vditor('vditor', {
        typewriterMode: true,
        height: 1000,
        width: "100%",
        placeholder: "请输入博客正文",
        hint: {
            emojiPath: 'https://cdn.jsdelivr.net/npm/vditor@latest/dist/images/emoji',
            // emojiTail: '<a href="https://hacpai.com/settings/function" target="_blank">设置常用表情</a>',
            emoji: emoji,
        },
        tab: '\t',
        preview: {
            delay: 500,
            hljs: {
                lineNumber: true
            }
        },
        upload: {
            accept: 'image/*,.wav',
            token: 'test',
            url: '/tool/upload',
            max: "3 * 1024 * 1024",
            linkToImgUrl: '/tool/upload',
            filename: (name) => {
                return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').
                    replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').
                    replace('/\\s/g', '')
            },

        }
    });

    if (document.getElementById('blogContent').textContent) {
        vditor.setValue(document.getElementById('blogContent').textContent);
    }

</script>



<script>
    let handBook = JSON.parse(decodeURIComponent("<%= handBookJson %>"));
    let partTitle = '';
    let userId = "<%=req.session.user._id||''%>";
    let contentType = '<%=editor %>';
    let blogId = "";
    let blogTitle = "";
    let blog = {};
    let firstShow = true;
    console.log(handBook);

    $('.addPartBtn').click(function () {
        $(".addPart").css({ "display": "block" });
        $(".addPartBtn").css({ "display": "none" });
        savePart();
    })
    $('.addPartBtnOk').click(function () {
        savePart(true);
    })
    $('.addPartBtnCl').click(function () {
        $(".addPart").css({ "display": "none" });
        $(".addPartBtn").css({ "display": "block" });
    })

    //渲染章节
    function xrPart() {
        if (handBook.chapter.length > 0) {
            $(".blogCreate").css({ "display": "block" });
        } else {
            $(".blogCreate").css({ "display": "none" });
        }
        $(".listBody").empty();
        let partList = "";
        for (let i = 0; i < handBook.chapter.length; i++) {
            partList = partList +
                `<div class="listCard">
                    <div class="step">
                        <div class="step-btn">
                            ${i + 1}
                        </div>
                    </div>
                    <div class="center">
                        ${handBook.chapter[i].title}
                    </div>
                    <div class="moveBtn">
                        <i class="iconfont icon-yidong"></i>
                    </div>
                </div>`;
        }
        $(".listBody").html(partList);
        $(".listBody .listCard").click(function (event) {
            var index = $(".listBody .listCard").index(this);
            selPart(index,true);
        });

        var elm = document.getElementById("sortPart");
        var sortable = Sortable.create(elm, {
            handle: ".moveBtn",
            onEnd: function (/**Event*/evt) {
                let itemEl = evt.item;  // dragged HTMLElement
                let oldIndex = evt.oldIndex;  // element's old index within old parent
                let newIndex = evt.newIndex;  // element's new index within new parent
                let oldItem = handBook.chapter[oldIndex];
                handBook.chapter[oldIndex] = handBook.chapter[newIndex];
                handBook.chapter[newIndex] = oldItem;
                updatePart({}, newIndex);
            },
        });
    }
    xrPart();
    //发布文章
    function savePart(createNew) {
        let contert = createNew ? '亲在这里填写章节正文哦😯~' : (vditor.getValue() || '亲在这里填写章节正文哦😯~');
        let useTitle = createNew ? $("#partTitle").val() : blogTitle;
        if (!createNew && contert == blog.content) {
            return
        };
        if (!useTitle) {
            alert("章节标题不能为空");
            return
        }
        let data = {
            publishForm: 'handBook',
            author: userId,
            title: useTitle,
            content: contert,
            contentType: contentType,
            createType: handBook.createType._id,
            classifications: handBook.classifications._id,
        }

        let url = '/blog'

        if (!createNew && blogId) {
            data.blogId = blogId;
            url = '/blog/update'
        }
        showSh()
        return new Promise(function (resolve, reject) {
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: (res) => {
                    hideSh();
                    if (res.state == 0) {
                        updatePart(res.data || res.Blog);
                        $(".addPart").css({ "display": "none" });
                        $(".addPartBtn").css({ "display": "block" });
                        $("#partTitle").val('');
                        resolve("成功~");
                    } else {
                        alert(res.msg)
                        rejFun("失败~");
                    }
                },
            });
        });
    }
    //更新手册章节信息
    function updatePart(data, updateIndex) {
        let ifUpdate = true;
        if (data && data._id) {
            for (let i = 0; i < handBook.chapter.length; i++) {
                if (handBook.chapter[i].id == data._id) {
                    handBook.chapter[i] = {
                        id: data._id,
                        title: data.title,
                    }
                    ifUpdate = false;
                }
            }
            if (ifUpdate) {
                handBook.chapter.push({
                    id: data._id,
                    title: data.title,
                })
            }
        } else if (updateIndex != undefined && updateIndex != null) {
            console.log("更新排序~")
        } else {
            return
        }
        $.ajax({
            type: 'POST',
            url: '/api/handBook/update',
            data: {
                _id: handBook._id,
                handBookData: encodeURIComponent(JSON.stringify(handBook)),
            },
            success: (res) => {
                if (res.state == 0) {
                    handBook = res.data;
                    xrPart();
                    if (updateIndex != undefined && updateIndex != null) {
                        selPart(updateIndex);
                    }else{
                        selPart(handBook.chapter.length - 1);
                    }
                } else {
                    alert(res.msg);
                }
            },
        });
    }
    //选择章节
    async function selPart(index,ifSavePart) {
        $(".listBody").children(".listCard").removeClass("active");
        $(".listBody").children(".listCard").eq(index).addClass("active");
        if (ifSavePart) {
            await savePart();
        } 
        blogId = handBook.chapter[index].id;
        blogTitle = handBook.chapter[index].title;
        $.ajax({
            type: 'GET',
            url: '/api/blog/' + blogId,
            success: (res) => {
                if (res.state == 0) {
                    blog = res.data;
                    vditor.setValue(res.data.content);
                } else {
                    alert(res.msg)
                }
            },
        });
    }

    if (handBook.chapter.length > 0) {
        selPart(0);
    } else {
        $(".blogCreate").css({ "display": "none" })
    }

    async function saveBook() {
        await savePart();
        window.location.href = "/handBook";
    }
</script>



<style>
    body {
        background-color: #fff;
    }

    .vditor-toolbar {
        background-color: #fff;
        border-bottom: 0px solid #d1d5da;
        padding: 8px 5px;
        border-radius: 0 0;
    }

    .vditor {
        border: 0px solid #d1d5da;
    }

    .vditor-textarea {
        background-color: #fafafa;
    }

    .vditor-toolbar svg {
        width: 16px;
        height: 16px;
    }
</style>