page {
  background-color: #fafafa;
  color: #666;
}
.movieDetail {
  margin-bottom: 20px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}
.movieDetail .hr {
  margin-top: 0px;
}
.movieDetail .imgCard .img {
  width: 100%;
}
.movieDetail .baseDiv {
  position: relative;
  margin-bottom: 40px;
}
.movieDetail .movieJj {
  bottom: 20px;
  width: 100%;
}
.movieDetail .movieJj .h3 {
  color: #e59233;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.movieDetail .movieJj .h5 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #999;
}
.movieDetail .movieJj .p {
  margin-top: 20px;
  font-size: 24px;
  color: #666;
  text-align: justify;
}
.movieDetail .movieJj .p .span {
  font-size: 28px;
  display: inline;
  color: #333;
  font-weight: 600;
}
.movieDetail .movieJj .downLoadCard {
  background: #efefef;
  padding: 20px;
  border-radius: 20px;
  border: 1px dashed #e59233;
  margin: 20px 0;
  padding-bottom: 12px;
}
.movieDetail .movieJj .downLoadCard .h6 {
  margin: 0;
  font-weight: 600;
  color: #e59233;
  font-size: 28px;
}
.movieDetail .movieJj .downLoadCard .p {
  margin: 0;
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 20px;
  word-break: break-all;
}
.movieDetail .detailCard {
  font-size: 24px;
}
.movieDetail .detailCard .p:first-child {
  font-weight: 600;
  font-size: 32px;
  color: #444;
}
.copy {
  margin-top: 20px;
  text-align: center;
}
.copy .bofang {
  margin-right: 10px;
  background-color: #e59233;
}
.copy button {
  border: 0;
  background-color: gray;
}
.shareBtn {
  position: fixed;
  right: 20px;
  bottom: 150px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e59233;
  color: #fff;
  box-shadow: 0 0 12px rgba(187, 187, 187, 0.3);
  text-align: center;
  line-height: 32px;
  padding-top: 16px;
}
.shareBtn .wz {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 24px;
}
