<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="logoDiv">
            <a href="/">
                <img src="/img/logo/logo.png" alt="" srcset="">
                <span>溜忙之道</span>
            </a>
        </div>
        <div class="nav-left">
            <ul class="pingpu">
                <li <% if (path && path =='/'){ %> class="active" <%}%> ><a href="/">首页</a></li>
                <li <% if (path && path =='handBook'){ %> class="active" <%}%> ><a href="/handBook">溜忙手册</a></li>
                <li <% if (path && path =='movie'){ %> class="active" <%}%> ><a href="/movie">电影</a></li>
                <li ><a href="https://lmongo.com/view/movie" class="sepcaliColor-cheng" >在线影院</a></li>
                <li><a href="http://a.lmongo.com" class="sepcaliColor-zi" target="_blank">offer之道</a></li>
                <li><a href="https://github.com/zhenquan321" class="sepcaliColor-red" target="_blank">项目Git</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <% if (req.session.user){ %> <% if (path !='handBook'){ %> <a class="sxBtn" href="/blogCreate"
                    target="_black"><i class="iconfont icon-bianji"></i>写文章</a>
                    <% } else { %>
                    <a class="sxBtn" id="openHandBookCreateModel"><i class="iconfont icon-shoujianludan"></i>写小册</a>
                    <% } %>
                    <% } else { %>
                    <a class="sxBtn" onclick="singIn()"><i class="iconfont icon-bianji"></i>写文章</a>
                    <% } %>
                    <span class="shuxian"></span>
                    <% if (req.session.user){ %> <div class="btn-group">
                        <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="headerImg">
                                <% if(req.session.user&&req.session.user.profile&&req.session.user.profile.picture){%>
                                <img src="<%= req.session.user.profile.picture %>" alt="">
                                <% } else { %>
                                <span><i class="iconfont icon-shenfenrenzheng-zhiye"></i></span>
                                <% }%>
                            </div>
                            <a
                                href="/userInfo/<%=req.session.user._id%>"><%= (req.session.user && req.session.user.profile && req.session.user.profile.name)|| req.session.user.email %></a>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="/userInfo/<%=req.session.user._id%>">个人中心</a></li>
                            <li><a href="/auth/signout">退出</a></li>
                        </ul>
                    </div>

                    <% }else{ %>
                    <a onclick="singIn()">登录</a> · <a onclick="singUp()">注册</a>
                    <% } %>
        </div>
    </div>
</nav>

<%- include('../components/login.html') %>
<script>
    function singIn() {
        $("#login").css({
            display: "block"
        })
        $(".singinBody").css({
            display: "block"
        })
    };

    function singUp() {
        $("#login").css({
            display: "block"
        })
        $(".singupBody").css({
            display: "block"
        })
    };
</script>