<div class="page-404">
    <pre>
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
    </pre>
    <p class="subtitle is-3">抱歉，未找到相关资源</p>
    <p>欢迎浏览其他内容</p>
    <button type="submit" class="btn btn-primary"><a href="javascript:history.back();" class="button is-primary">上一页</a></button>
    <button type="button" class="btn btn-success"><a href="/" class="button is-link">回主页</a></button>
    
</div>

