<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@latest/dist/index.classic.css" />
<script src="https://cdn.jsdelivr.net/npm/vditor@latest/dist/index.min.js"></script>

<%- include('./components/header_createBlog.html') %>

<!-- vditor  上传图片有bug； -->

<form class="blogCreate">
    <div class="header">
        <div class="header-left">
            <input id="blogCreate-title" type="text" class="form-control" placeholder="请输入文章标题">
            <hr />
            <div class="btn-group selTypes">
                <div class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="iconfont icon-cecenidechenggongshuai"></i>
                    <input type="text" id="classificationsName" name="" value="" placeholder="选择分类"
                        style="width: 100px;font-size: 18px;" disabled>
                </div>
                <ul class="dropdown-menu">
                    <% for(let i =0 ; i< classifications.length; i++){%>
                    <li onclick="selClassifications('<%= classifications[i].name %>','<%= classifications[i]._id %>')">
                        <%= classifications[i].name%>
                    </li>
                    <%}%>
                    
                    <% if(req.session.user && req.session.user.isAdmin){%>
                    <li role="separator" class="divider"></li>
                    <li onclick="openAddClassification()"><a>添加分类</a></li>
                    <% }%>
                </ul>
            </div>
        </div>
    </div>
    <div class="createBlog">
        <% if(editor&&editor =='markDown'){%>
        <div id="vditor"></div>
        <% }else{%>
        <div class="richTextEditor">
            <div id="richTextEditor"></div>
            <textarea id="contentText" style="width:100%; height:200px; opacity: 0;"></textarea>
        </div>

        <% }%>
    </div>
</form>

<div class="addClassification" style="display: none;">
    <form class="loginBody singinBody" action="/Classification" method="post">
        <i class="iconfont icon-guanbi1 closeLogin" onclick="closeAddClassification()"></i>
        <h4>添加分类</h4>
        <div class="input-group">
            <input type="text" class="form-control" name="name" placeholder="请输入分类名称">
        </div>
        <div class="input-group">
            <textarea style="width:280px;margin-top:10px" class="form-control" name="describe" placeholder="请输入分类描述"
                rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="添加" />
    </form>
</div>

<script>
    const vditor = new Vditor('vditor', {
        typewriterMode: true,
        height: 800,
        width: "100%",
        placeholder: "请输入博客正文",
        hint: {
            emojiPath: 'https://cdn.jsdelivr.net/npm/vditor@latest/dist/images/emoji',
            // emojiTail: '<a href="https://hacpai.com/settings/function" target="_blank">设置常用表情</a>',
            emoji: emoji,
        },
        tab: '\t',
        preview: {
            delay: 500,
            // hljs:{
            //     style:'native'
            // }
        },
        upload: {
            accept: 'image/*,.wav',
            token: 'test',
            url: '/tool/upload',
            max: "3 * 1024 * 1024",
            linkToImgUrl: '/tool/upload',
            format: (files, responseText) => {
                console.log(files, responseText);
            },
            success: (res) => {
                console.log(res);
            },

            filename: (name) => {
                return name.replace(/[^(a-zA-Z0-9\u4e00-\u9fa5\.)]/g, '').
                replace(/[\?\\/:|<>\*\[\]\(\)\$%\{\}@~]/g, '').
                replace('/\\s/g', '')
            },

        }
    });
</script>


<script>
    let classificationsId = "";

    function mdSwitch() {
        var mdValue = document.getElementById("md-area").value;
        var converter = new showdown.Converter();
        var html = converter.makeHtml(mdValue);
        document.getElementById("show-area").innerHTML = html;
    }

    function closeAddClassification() {
        $(".addClassification").css({
            "display": "none"
        })
    }

    function openAddClassification() {
        $(".addClassification").css({
            "display": "block"
        })
    }

    function selClassifications(name, id) {
        $("#classificationsName").val(name);
        classificationsId = id;
    }

    //发布文章
    function publishBlog(published) {
        let userId = "<%=req.session.user._id||''%>";
        let contentType = '<%=editor %>';
        let contert = vditor.getValue();
        if (!$('#blogCreate-title').val()) {
            alert("博文标题不能为空");
            return
        }
        if (!contert) {
            alert("内容不能为空");
            return
        }
        if (!classificationsId) {
            alert('请选择分类');
            return
        }
        let data = {
            published,
            author: userId,
            title: $('#blogCreate-title').val(),
            content: contert,
            contentType: contentType,
            classifications: classificationsId,
        }
        $.ajax({
            type: 'POST',
            url: '/blog',
            data: data,
            success: (res) => {
                if (res.state == 0) {
                    vditor.clearCache()
                    window.location.href = "/";
                }
            },
        });
    }

</script>



<style>
    body {
        background-color: #fff;
    }

    .vditor-toolbar {
        background-color: #fff;
        border-bottom: 0px solid #d1d5da;
        padding: 8px 5px;
        border-radius: 0 0;
    }

    .vditor {
        border: 0px solid #d1d5da;
    }

    .vditor-textarea {
        background-color: #fafafa;
    }

    .vditor-toolbar svg {
        width: 16px;
        height: 16px;
    }
</style>