<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1476614_awuxrbj85jn.css">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/mobile.css">
    <link rel="icon" href="/img/logo/favicon_64.ico">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/emoji.js"></script>
  </head>
  <body>
    <%- include('./components/examine.html') %>
    <%- include('./components/header.html') %>
    <%- include('./components/notification.html') %>
    <div <% if(path =='blogCreate'){ %> class="main-body" <% }else{ %> class="main-body container" <%}%> >
      <%- body %>
    </div>
  </body>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>