<div class="searchTop">

    <% if(req.session.user && req.session.user.isAdmin){%>
    <button type="submit" class="btn btn-default"><a href="/reptile/movieRt" target="_blank">更新电影</a> </button>
    <button type="submit" class="btn btn-default"><a href="/reptile/getMvDetail" target="_blank">更新详情</a> </button>
    <% }%>

    <form class="form-inline" action="/movie" method="get">
        <div class="form-group">
            <input type="text" name="keyword" style="border-radius: 5px;" class="form-control"
                value="<%- req.query.keyword||'' %>" id="exampleInputAmount" placeholder="请输入搜索关键词">
            <button type="submit" class="btn btn-primary">搜索</button>
        </div>
    </form>
</div>
<div class="selectHeader">
    <h4>年份</h4>
    <div>
        <ul>
            <li><a <% if(!req.query||!req.query.year){%> class="active" <% }%> href="<%- '/movie?' %>">全部</a></li>
            <% for (let y=2019;y>2008;y--){%>
            <li><a <% if(req.query&&req.query.year==y){%> class="active" <% }%>
                    href="<%- '/movie?year=' + y %>"><%- y %></a></li>
            <% } %>
        </ul>
    </div>
    <!-- <h5>共：<%- pageInfo.count %> 部电影</h5> -->
</div>

<div class="movieList">
    <div class="row mb20">
        <% movieList.forEach(function(movie){ %>
        <div class="col-xs-6 col-md-3 movieCard">
            <a href="/movieItem/<%- movie.id%>" class="thumbnail">
                <img src="<%- movie.imgUrl %>" alt="">
                <div class="movieHeader">
                    <h4><%-  movie.name %></h4>
                    <h6><%-  movie.sketch %></h6>
                </div>
            </a>
        </div>
        <% }); %>

        <% if(!(movieList&&movieList.length>0)){%>
        <p style="margin: 20px;">抱歉，没有更多影片了~我们正在加紧收录中。。。</p>
        <%}%>
    </div>
    <%- include('./components/pagination.html') %>
    </div>

    <style>
        body {
            background-color: #fff;
        }
    </style>