<div class="topDiv">
    <div class="searchTop">
        <% if(req.session.user && req.session.user.isAdmin){%>
        <button type="submit" class="btn btn-default"><a href="/reptile/movieRt" target="_blank">更新电影</a> </button>
        <button type="submit" class="btn btn-default"><a href="/reptile/getMvDetail" target="_blank">更新详情</a> </button>
        <% }%>
        <div class="allCount">
            共<span> <%- AllCount %></span> 部电影
        </div>
        <form class="form-inline" action="/movie" method="get">
            <div class="form-group">
                <input type="text" name="keyword" style="border-radius: 5px;" class="form-control"
                    value="<%= req.query.keyword||'' %>" id="exampleInputAmount" placeholder="请输入搜索关键词">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </form>
    </div>
    <div class="selectHeader">
        <h4>年份</h4>
        <div>
            <ul>
                <li><a <% if(!req.query||!req.query.year){%> class="active" <% }%> href="<%- '/movie?' %>">全部</a></li>
                <% for (let y=2019;y>2008;y--){%>
                <li><a <% if(req.query&&req.query.year==y){%> class="active" <% }%>
                        href="<%- '/movie?year=' + y %>"><%- y %></a></li>
                <% } %>
            </ul>

        </div>
    </div>
    <div class="selectHeader">
        <h4>类别</h4>
        <div>
            <ul>
                <li><a  <% let searchTypeStr='科幻奇幻动作枪战犯罪战争爱情青春动画喜剧悬疑惊悚恐怖剧情'; if (!req.query.keyword||!searchTypeStr.includes(req.query.keyword)){%> class="active" <% }%> href="/movie">全部</a></li>
                <li><a  <% if( req.query.keyword == '剧情'){%> class="active" <% }%> href="/movie?keyword=剧情">剧情</a></li>
                <li><a  <% if( req.query.keyword == '科幻'){%> class="active" <% }%> href="/movie?keyword=科幻">科幻</a></li>
                <li><a  <% if( req.query.keyword == '动作'){%> class="active" <% }%> href="/movie?keyword=动作">动作</a></li>
                <li><a  <% if( req.query.keyword == '枪战'){%> class="active" <% }%> href="/movie?keyword=枪战">枪战</a></li>
                <li><a  <% if( req.query.keyword == '犯罪'){%> class="active" <% }%> href="/movie?keyword=犯罪">犯罪</a></li>
                <li><a  <% if( req.query.keyword == '战争'){%> class="active" <% }%> href="/movie?keyword=战争">战争</a></li>
                <li><a  <% if( req.query.keyword == '爱情'){%> class="active" <% }%> href="/movie?keyword=爱情">爱情</a></li>
                <li><a  <% if( req.query.keyword == '青春'){%> class="active" <% }%> href="/movie?keyword=青春">青春</a></li>
                <li><a  <% if( req.query.keyword == '动画'){%> class="active" <% }%> href="/movie?keyword=动画">动画</a></li>
                <li><a  <% if( req.query.keyword == '喜剧'){%> class="active" <% }%> href="/movie?keyword=喜剧">喜剧</a></li>
                <li><a  <% if( req.query.keyword == '悬疑'){%> class="active" <% }%> href="/movie?keyword=悬疑">悬疑</a></li>
                <li><a  <% if( req.query.keyword == '惊悚'){%> class="active" <% }%> href="/movie?keyword=惊悚">惊悚</a></li>
                <li><a  <% if( req.query.keyword == '恐怖'){%> class="active" <% }%> href="/movie?keyword=恐怖">恐怖</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="movieList">
    <div class="row mb20">
        <% movieList.forEach(function(movie){ %>
        <div class="col-xs-6 col-md-3 movieCard">
            <a href="/movieItem/<%- movie.id%>" class="thumbnail">
                <img src="<%- movie.imgUrl %>" alt="">
                <div class="dzBtnGroup movieRd">
                    <span><i class="iconfont icon-guankan"></i><%= movie.clickNum ||0 %></span>
                    <span><i class="iconfont icon-dianzan"></i><%= movie.thumbsUp ||0 %></span>
                    <span><i class="iconfont icon-pinglun"></i><%= movie.comments ||0 %></span>
                </div>
                <div class="movieHeader">
                    <h4><%-  movie.name %></h4>
                    <h6><%-  movie.sketch %></h6>
                </div>
            </a>
        </div>
        <% }); %>
        <% if(!(movieList&&movieList.length>0)){%>
        <p style="margin: 20px;">抱歉，没有更多影片了~我们正在加紧收录中。。。</p>
        <%}%>
    </div>
    <%- include('./components/pagination.html') %>
    </div>