.iconfont {
  margin: 0 5px;
}
@font-face {
  font-family: 'iconfont';
  /* project id 1476614 */
  src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot');
  src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff2') format('woff2'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff') format('woff'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.ttf') format('truetype'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.svg#iconfont') format('svg');
}
body {
  background-color: #f4f5f5;
}
.mb20 {
  margin-bottom: 20px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
textarea:focus {
  outline-offset: 0px;
}
.dropdown-menu > li > a {
  padding: 8px 20px;
}
.a-upload {
  padding: 4px 10px;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  /* top: 6px; */
  display: inline;
}
.a-upload input {
  position: absolute;
  font-size: 10px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
}
.vditor-wysiwyg {
  border: 0;
  background-color: #fff;
  padding: 30px 50px!important;
}
html,
body {
  height: 100%;
}
.navbar-default {
  background-color: hsl(0, 0%, 100%);
  border-color: #e7e7e7;
}
.btn-primary {
  background-color: #e59233;
  border-color: #e59233;
}
.btn-primary:hover {
  background-color: #c67e2b;
  border-color: #c67e2b;
}
.pingpu {
  padding: 0;
  margin: 0;
}
.pingpu li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  cursor: pointer;
}
.pingpu li a {
  color: #555;
}
.pingpu li a:hover {
  color: #e59233;
  text-decoration: none;
}
.pingpu .active a {
  color: #e59233;
}
.sepcaliColor-zi {
  color: #b71ed7 !important;
  font-weight: 600;
}
.sepcaliColor-red {
  color: red !important;
  font-weight: 600;
}
.navbar {
  font-size: 16px;
  z-index: 10;
  padding: 0 20px;
  border: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.navbarCreateBlog {
  z-index: 11;
}
.shuxian {
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: #999;
  margin: -1px 5px;
}
.nav-left {
  float: left;
}
.nav-right {
  height: 50px;
  line-height: 50px;
  float: right;
  color: #e59233;
  cursor: pointer;
}
.nav-right .sxBtn {
  border: 1px solid #e59233;
  padding: 2px;
  border-radius: 5px;
  padding-right: 8px;
}
.nav-right .zcBtn {
  border: 1px solid #888;
  cursor: default;
  color: #888;
}
.nav-right a {
  color: #e59233;
  text-decoration: none;
}
.nav-right .navbar-item {
  display: inline;
}
.nav-right .btn-group {
  vertical-align: top;
}
.nav-right .btn-group a {
  color: #777;
}
.nav-right .btn-group .dropdown-menu {
  text-align: center;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.175);
}
.nav-right .btn-group.open .dropdown-toggle {
  color: #e59233;
  box-shadow: 0 0 0;
}
.nav-right .btn-group.open .dropdown-toggle a {
  color: #e59233;
}
.sepcaliColor-cheng {
  color: #ff8800 !important;
  font-weight: 600;
}
.logoDiv {
  float: left;
  height: 50px;
  line-height: 42px;
  padding: 4px;
  margin-right: 30px;
}
.logoDiv a {
  text-decoration: none;
}
.logoDiv img {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  top: -1px;
}
.logoDiv span {
  color: #6f6457;
  font-size: 18px;
}
a {
  color: #0071d2;
}
#login,
.addClassification {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4) !important;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
#login .loginBody,
.addClassification .loginBody {
  width: 320px;
  height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
#login .loginBody h4,
.addClassification .loginBody h4 {
  color: #e59233;
}
#login .loginBody input,
.addClassification .loginBody input {
  width: 280px;
  height: 40px;
  margin-top: 12px;
}
#login .loginBody .btn,
.addClassification .loginBody .btn {
  margin-top: 20px;
}
#login .loginBody .closeLogin,
.addClassification .loginBody .closeLogin {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}
#login .singinBody,
.addClassification .singinBody {
  width: 320px;
  height: 284px;
}
#login .singupBody,
.addClassification .singupBody {
  width: 320px;
  height: 284px;
}
#login .loginHref,
.addClassification .loginHref {
  margin-top: 10px;
}
#login .loginHref,
.addClassification .loginHref {
  cursor: pointer;
}
.addClassification .loginBody {
  height: 330px;
}
.notifications {
  position: fixed;
  top: 60px;
  width: 280px;
  right: 10px;
  z-index: 100;
}
.notifications i {
  position: absolute;
  right: 6px;
  color: #fff;
  font-size: 18px;
  top: 8px;
  cursor: pointer;
}
.notification {
  padding: 10px;
  padding-right: 20px;
  border-radius: 4px;
  color: #fff;
}
.is-success {
  background-color: rgba(92, 149, 46, 0.68);
}
.is-warning {
  background-color: rgba(219, 145, 18, 0.68);
}
.main-body {
  padding-top: 60px;
  margin-bottom: 30px;
  min-height: 100%;
  padding-bottom: 100px;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: #e59233;
  text-decoration: none;
}
a.thumbnail:hover {
  border-color: #e59233;
  box-shadow: 0px 0px 6px #e59233;
}
.movieRd {
  background-color: rgba(199, 162, 119, 0.78039216);
  position: absolute;
  bottom: 95px;
  padding: 5px 10px 5px 5px;
  color: #fff !important;
  margin: 0px;
}
.thumbnail {
  border: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0;
  padding: 8px;
  position: relative;
}
.topDiv {
  background-color: #fff;
  padding: 10px 15px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.movieList {
  padding: 0 5px;
}
.movieCard {
  padding: 0 10px;
}
.movieCard img {
  width: 100%;
  height: 370px;
}
.movieCard .movieHeader {
  padding: 5px;
}
.movieCard .movieHeader h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}
.movieCard .movieHeader h6 {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  line-height: 20px;
  margin-bottom: 0;
}
.change-Pages {
  text-align: center;
}
.change-Pages .pagination {
  margin: 0;
  margin-top: 5px;
}
.change-Pages .pagination li .active {
  background-color: #e59233;
  color: #fff;
  border-color: #e59233;
}
.change-Pages .allPage {
  height: 36px;
  line-height: 36px;
  display: inline-block;
  margin: 0 10px;
}
.allCount {
  display: inline-block;
  padding: 10px;
}
.allCount span {
  color: #e59233;
}
.selectHeader {
  padding: 0 10px;
  border-radius: 10px;
  padding-bottom: 1px;
}
.selectHeader .active {
  color: #e59233;
  font-weight: 600;
}
.selectHeader h5 {
  margin: 12px 0;
  color: #999;
  float: right;
}
.selectHeader h4 {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.selectHeader div {
  display: inline-block;
}
.selectHeader ul {
  display: inline-block;
  margin: 0;
  padding-left: 10px;
}
.selectHeader ul li {
  display: inline-block;
  padding: 0 12px 0 10px;
  margin: 0;
  border-right: 1px solid #ccc;
}
.selectHeader ul li:last-child {
  border-right: 0;
}
.breadcrumb {
  background-color: #fff;
  margin-bottom: 0;
  color: #888;
  padding-left: 0;
}
.breadcrumbBlack {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
  color: #666;
  padding-left: 0;
}
.movieDetail {
  margin-bottom: 20px;
  padding: 25px;
  background-color: #fff;
}
.movieDetail hr {
  margin-top: 0px;
}
.movieDetail .imgCard img {
  width: 100%;
}
.movieDetail .baseDiv {
  position: relative;
  margin-bottom: 20px;
}
.movieDetail .movieJj {
  bottom: 10px;
  width: 100%;
}
.movieDetail .movieJj h3 {
  color: #e59233;
}
.movieDetail .movieJj h5 {
  font-size: 16px;
  color: #999;
}
.movieDetail .movieJj p {
  margin-top: 40px;
  font-size: 14px;
  color: #666;
}
.movieDetail .movieJj p span {
  color: #333;
  font-weight: 600;
}
.movieDetail .movieJj .downLoadCard {
  background: #efefef;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #e59233;
  margin-top: 30px;
}
.movieDetail .movieJj .downLoadCard h6 {
  margin: 0;
  font-weight: 600;
  color: #e59233;
  font-size: 14px;
}
.movieDetail .movieJj .downLoadCard p {
  margin: 0;
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 10px;
}
.movieDetail .detailCard p:first-child {
  font-weight: 600;
  font-size: 18px;
}
.h100 {
  height: 100%;
}
.searchTop {
  height: 40px;
  margin: 4px 0;
}
.searchTop .form-inline {
  width: 300px;
  float: right;
  height: 50px;
}
.searchTop .form-inline input {
  width: 240px;
  border-color: #ddd;
  box-shadow: 0 0 0;
  border-radius: 20px;
  float: left;
  margin-right: 5px;
  padding-right: 34px;
}
.searchTop .form-inline button {
  float: right;
}
.page-404 {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
}
.page-404 pre {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 50%;
  padding: 30px 20px 0 0;
}
.page-404 button {
  padding: 8px 20px;
  margin: 10px;
}
.page-404 button a {
  color: #fff;
}
.page-404 .subtitle {
  margin: 0 0 10px;
  font-size: 18px;
  color: #777;
}
.page-404 p {
  color: #888;
}
.blogCreate {
  padding: 10px 20px;
}
.blogCreate .header-left {
  position: relative;
}
.blogCreate .header-left hr {
  margin-bottom: 0;
}
.blogCreate .header-left .selTypes {
  position: absolute;
  right: 30px;
  top: 4px;
  color: #888;
  cursor: pointer;
}
.blogCreate .header-left .selTypes .dropdown-toggle {
  font-size: 18px;
}
.blogCreate .header-left .selTypes .dropdown-toggle i {
  font-size: 20px;
  position: relative;
  top: 1px;
  right: -4px;
}
.blogCreate .header-left .selTypes .dropdown-toggle i:hover {
  color: #e59233;
}
.blogCreate .header-left .selTypes input[type=checkbox] {
  line-height: normal;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}
.blogCreate .header-left .selTypes .form-check {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.blogCreate .header-left .selTypes:hover {
  color: #555;
}
.blogCreate .header-left .open .dropdown-toggle {
  box-shadow: 0 0 0;
}
.blogCreate .header-left .dropdown-menu {
  left: auto;
  right: 0;
  padding: 10px 0;
  border: 0;
}
.blogCreate .header-left .dropdown-menu li {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.blogCreate .header-left .dropdown-menu li:hover {
  background-color: #eee;
}
.blogCreate .header-left .dropdown-menu .divider {
  height: 1px;
  line-height: 1px;
}
.blogCreate .header .header-left input {
  border: 0;
  box-shadow: 0 0 0;
  font-size: 22px;
}
.blogCreate .markDown {
  width: 100%;
  display: flex;
}
.blogCreate .markDown #md-area {
  width: 50%;
  border: 0;
  min-height: 800px;
  background-color: #ededed;
  border-right: 1px solid #ccc;
  height: 100%;
  padding: 10px;
}
.blogCreate .markDown #show-area {
  width: 50%;
  margin-left: -1px;
  padding: 10px;
  border-left: 1px solid #ccc;
}
.selectedEditor {
  position: relative;
  top: -1px;
  margin-left: 15px;
}
.selectedEditor .btn-default {
  background-color: #999;
  color: #fff;
  border: 0;
}
.selectedEditor .btn-default:hover {
  color: #fff;
}
.selectedEditor .active {
  background-color: #e59233 !important;
}
.classificationHeader {
  position: fixed;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  background-color: #fff;
  left: 0;
  top: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid #e6e6e6;
  z-index: 9;
}
.classificationHeader ul li {
  display: inline-block;
  padding: 0 6px;
}
.blogList {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.blogList .blogList-header {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
}
.blogList .blogList-header ul {
  padding: 0;
  padding-left: 10px;
  color: #777;
}
.blogList .blogList-header ul li {
  font-size: 14px;
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ccc;
  height: 14px;
  line-height: 14px;
  padding-right: 12px;
}
.blogList .blogList-header ul li:last-child {
  border-right: 0;
}
.blogList .blogList-header ul li:hover {
  color: #e59233;
  font-weight: 600;
}
.blogList .blogList-header ul li:hover a {
  color: #e59233;
}
.blogList .blogList-header ul li.active {
  color: #e59233;
  font-weight: 600;
}
.blogList .blogList-header ul li.active a {
  color: #e59233;
}
.blogList .blogCard {
  margin: 0 15px;
  padding: 10px 20px;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
  position: relative;
}
.blogList .blogCard .removeBlog {
  display: none;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 30px;
}
.blogList .blogCard .removeBlog i {
  color: red;
  font-size: 30px;
}
.blogList .blogCard:hover {
  background-color: #fafafa;
}
.blogList .blogCard:hover h4 {
  color: #e59233;
}
.blogList .blogCard:hover .removeBlog {
  display: block;
}
.blogList .blogCard:last-child {
  margin-bottom: 20px;
}
.blogList .blogCard .jian {
  color: red;
  font-weight: 600;
}
.blogList .blogCard .fr {
  float: right;
  color: #e75123;
  font-weight: 600;
}
.blogList .blogCard .re {
  color: #b71ed7;
  font-weight: 600;
}
.blogList .blogCard .createType {
  color: #4e87dc;
}
.blogList .blogCard .lei {
  color: #f70;
  font-weight: 600;
}
.blogList .blogCard h6 {
  color: #888;
  font-size: 12px;
}
.blogList .blogCard h6 i {
  font-size: 12px;
}
.blogList .blogCard h4 {
  font-size: 16px;
}
.blogList .blogCard .dzBtnGroup {
  color: #777;
}
.blogList .blogCard .dzBtnGroup span {
  display: inline-block;
  padding: 2px 7px 2px 3px;
  margin-right: -5px;
}
.blogList .blogCard .dzBtnGroup span i {
  font-size: 14px;
}
.headerImg {
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 0 5px;
}
.headerImg img {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
  top: -2px;
}
.headerImg span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #999;
  color: #999;
  text-align: center;
  position: relative;
  top: 4px;
}
.headerImg span i {
  font-size: 24px;
  margin: 0;
}
.blogItem {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.blogItem .blogTitle {
  text-align: center;
}
.blogItem .blog-header {
  position: relative;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}
.blogItem .blog-header .headerImg {
  vertical-align: top;
}
.blogItem .blog-header .headerImg img {
  width: 50px;
  height: 50px;
  top: 4px;
}
.blogItem .blog-header .headerImg span {
  width: 50px;
  height: 50px;
  padding-top: 3px;
}
.blogItem .blog-header .headerImg span i {
  font-size: 44px;
}
.blogItem .blog-header .author {
  display: inline-block;
  vertical-align: top;
}
.blogItem .blog-header .author h4 {
  margin: 10px;
}
.blogItem .blog-header .author h5 {
  margin: -5px 10px 10px;
  color: #888;
}
.blogItem .blog-header button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.blogItem .blog-header .btn {
  border-radius: 0;
  border-color: #e59233;
  color: #e59233;
}
.classificationHeader ul {
  padding: 0;
  padding-left: 10px;
  float: left;
}
.classificationHeader ul li {
  font-size: 14px;
  display: inline-block;
  padding: 0 6px;
  padding-right: 12px;
  color: #777;
  cursor: pointer;
}
.classificationHeader ul li:last-child {
  border-right: 0;
}
.classificationHeader ul li:hover {
  color: #e59233;
  font-weight: 600;
}
.classificationHeader ul li:hover a {
  color: #e59233;
}
.classificationHeader ul li.active {
  color: #e59233;
  font-weight: 600;
}
.classificationHeader ul li.active a {
  color: #e59233;
}
.blogSearch {
  float: right;
  position: relative;
}
.blogSearch .form-inline {
  width: 240px;
}
.blogSearch input {
  float: right;
  width: 240px;
  height: 28px;
  line-height: 28px;
  margin-top: 3px;
}
.blogSearch i {
  color: #999;
  font-size: 22px;
  position: absolute;
  right: 2px;
  top: -4px;
}
.userInfo {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 20px 40px;
  width: 70%;
  margin-top: 10px;
}
.userInfo .header {
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
}
.userInfo .userInfoHeader {
  position: relative;
}
.userInfo .userInfoHeader .headerImg {
  position: absolute;
  top: -12px;
}
.userInfo .userInfoHeader .headerImg span {
  width: 52px;
  height: 52px;
  padding-top: 8px;
}
.userInfo .userInfoHeader .headerImg span i {
  font-size: 42px;
}
.userInfo .userInfoHeader .headerImg img {
  width: 52px;
  height: 52px;
  top: 4px;
}
.userInfo .form-group {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 0;
}
.userInfo .form-group input {
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 0;
}
.userInfo .changeInfoBtn {
  width: 100%;
  text-align: center;
  padding: 30px 0 15px;
}
.userInfo .changeInfoBtn button {
  padding: 8px 50px;
  background-color: #e59233;
  color: #fff;
  border: 0px;
  font-size: 16px;
}
.comment .userHeader {
  width: 60px;
  float: left;
}
.comment .userHeader .headerImg {
  vertical-align: top;
}
.comment .userHeader .headerImg img {
  width: 40px;
  height: 40px;
  top: 4px;
}
.comment .userHeader .headerImg span {
  width: 40px;
  height: 40px;
  padding-top: 3px;
}
.comment .userHeader .headerImg span i {
  font-size: 35px;
}
.comment .commentInput {
  background-color: #fafbfc;
  padding: 15px 15px 10px 15px;
  margin-bottom: 30px;
}
.comment .commentInput .inputArea {
  width: 100%;
  padding-left: 60px;
}
.comment .commentInput .inputArea textarea {
  width: 100%;
  border-radius: 5px;
  border-color: #ccc;
  padding: 10px;
}
.comment .commentInput .inputArea textarea:focus {
  border-color: #e59233;
}
.comment .commentInput .control {
  width: 100%;
  padding-left: 60px;
  height: 40px;
}
.comment .commentInput .control .emjo {
  color: #888;
  float: left;
  position: relative;
  cursor: pointer;
}
.comment .commentInput .control .emjo:hover {
  color: #e59233;
}
.comment .commentInput .control .emjo:hover i {
  color: #e59233;
}
.comment .commentInput .control .emjo:hover .emjoArea {
  display: flex;
  display: -webkit-flex;
  /* Safari */
  flex-wrap: wrap;
}
.comment .commentInput .control .emjo i {
  font-size: 24px;
  position: relative;
  top: 3px;
  color: #ffcd43;
}
.comment .commentInput .control .emjo .emjoArea {
  display: none;
  position: absolute;
  z-index: 5;
  width: 280px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.16);
}
.comment .commentInput .control .emjo .emjoArea span {
  display: inline-block;
  height: 26px;
  width: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 20px;
}
.comment .commentInput .control .emjo .emjoArea span:hover {
  font-size: 24px;
}
.comment .commentInput .control .push {
  float: right;
  margin-top: 5px;
}
.comment h3 {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin: 40px 20px 20px;
}
.comment .listCard {
  padding: 10px 30px 10px 70px;
  width: 100%;
  position: relative;
}
.comment .listCard:hover .removeBlog {
  display: block;
}
.comment .listCard:last-child .control {
  border-bottom: 0;
}
.comment .listCard .removeBlog {
  display: none;
  position: absolute;
  color: red;
  right: 40px;
  top: 10px;
  cursor: pointer;
}
.comment .listCard .removeBlog i {
  font-size: 30px;
}
.comment .listCard .comment-right {
  padding-left: 50px;
}
.comment .listCard .comment-right .commentUserInfo {
  color: #666;
}
.comment .listCard .comment-right .comment-content {
  margin: 10px 0;
  color: #555;
}
.comment .listCard .control {
  padding: 0 10px;
  height: 36px;
  border-bottom: 1px solid #f1f1f1;
  color: #999;
}
.comment .listCard .control .time {
  float: left;
}
.comment .listCard .control .control-right {
  float: right;
}
.fixedCard {
  position: fixed;
  margin-left: -12rem;
  top: 24rem;
}
.fixedCard ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 0.75rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background-color: #fff;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
  text-align: center;
  color: #777;
}
.fixedCard ul li a {
  color: #777;
}
.fixedCard ul li:hover {
  color: #e59233;
}
.fixedCard ul li span {
  position: absolute;
  top: 0;
  left: 75%;
  padding: 0.1rem 0.4rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  background-color: #b2bac2;
  border-radius: 0.7rem;
  transform-origin: left top;
  transform: scale(0.75);
}
.fixedCard ul li i {
  font-size: 1.9rem;
}
footer {
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  transform: translate(0px, -110px);
}
.HandBookCreateModel {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4) !important;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.HandBookCreateModel .form-group {
  height: 130px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.HandBookCreateModel .form-group .headerImg {
  height: 120px;
  width: 90px;
  border: 1px solid #ccc;
}
.HandBookCreateModel .form-group .headerImg img {
  width: 88px;
  height: 118px;
  margin-top: 2px;
}
.HandBookCreateModel .form-group .a-upload {
  top: 44px;
}
.HandBookCreateModel .form-group .a-upload input {
  margin-top: 0px;
}
.HandBookCreateModel .body {
  width: 400px;
  height: 540px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
.HandBookCreateModel .body h4 {
  color: #e59233;
}
.HandBookCreateModel .body input {
  width: 360px;
  height: 40px;
  margin-top: 12px;
}
.HandBookCreateModel .body textarea {
  width: 360px;
  margin-top: 10px;
}
.HandBookCreateModel .body .selTypes {
  color: #888;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
}
.HandBookCreateModel .body .selTypes:hover {
  color: #555;
}
.HandBookCreateModel .body .selTypes input {
  margin-top: 0px;
  border: 0px;
  width: 324px;
}
.HandBookCreateModel .body .selTypes .dropdown-toggle {
  font-size: 18px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
}
.HandBookCreateModel .body .selTypes .dropdown-toggle i {
  font-size: 20px;
  position: relative;
  top: 1px;
  right: -4px;
}
.HandBookCreateModel .body .selTypes .dropdown-toggle i:hover {
  color: #e59233;
}
.HandBookCreateModel .body .selTypes input[type=checkbox] {
  line-height: normal;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}
.HandBookCreateModel .body .selTypes .form-check {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  font-weight: 500;
}
.HandBookCreateModel .body .btn {
  margin-top: 20px;
  height: 50px;
  font-size: 22px;
}
.HandBookCreateModel .body .close {
  position: fixed;
  top: 10px;
  right: 5px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}
.HandBookCreateModel .divider {
  margin: 0;
}
.HandBookCreateModel ul {
  padding-left: 0;
  text-align: center;
}
.HandBookCreateModel ul li {
  padding: 0;
  display: block;
}
.handBookCard {
  position: relative;
}
.handBookCard .photoCard {
  position: absolute;
  left: 40px;
  top: 20px;
}
.handBookCard .photoCard img {
  width: 90px;
  height: 120px;
}
.handBookCard a h4 {
  font-size: 18px !important;
}
.handBookCard .removeBlog {
  top: 58px !important;
}
.handBookCard .removeBlog a {
  padding: 0px;
}
.handBookCard a {
  padding: 0 130px;
  display: inline-block;
  min-height: 140px;
}
.handBookCard a p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 46px;
  padding-top: 4px;
  color: #777;
  margin-bottom: 0;
}
.handBookCreate {
  width: 100%;
  position: relative;
  display: flex;
}
.handBookCreate .partList {
  width: 20%;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50px;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  background-color: #fff;
  padding-bottom: 100px;
}
.handBookCreate .partList .title {
  font-size: 18px;
  text-align: center;
  border-bottom: 1px dashed #ccc;
  padding: 15px;
  color: #e59133;
  font-size: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.handBookCreate .partList .listBody {
  padding: 10px 0;
}
.handBookCreate .partList .listBody .listCard {
  padding: 15px 20px;
  display: flex;
  cursor: pointer;
}
.handBookCreate .partList .listBody .listCard:last-child .step .step-btn:after {
  height: 0;
}
.handBookCreate .partList .listBody .listCard:first-child .step .step-btn:before {
  height: 0;
}
.handBookCreate .partList .listBody .listCard:hover {
  background-color: #ebebeb;
}
.handBookCreate .partList .listBody .listCard:hover .step .step-btn {
  border-color: #e59233;
  color: #e59233;
}
.handBookCreate .partList .listBody .listCard:hover .step .step-btn:before {
  background-color: #e59233;
}
.handBookCreate .partList .listBody .listCard:hover .step .step-btn:after {
  background-color: #e59233;
}
.handBookCreate .partList .listBody .listCard .step {
  position: relative;
  margin: -20px 0;
}
.handBookCreate .partList .listBody .listCard .step .step-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  border: 2px solid #b5b7ba;
  font-size: 22px;
  margin-top: 20px;
  background-color: #fff;
  z-index: 1;
  position: relative;
  color: #b5b7ba;
}
.handBookCreate .partList .listBody .listCard .step .step-btn:before {
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #b5b7ba;
  height: 50%;
  content: "";
  top: -50%;
}
.handBookCreate .partList .listBody .listCard .step .step-btn:after {
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #b5b7ba;
  height: 50%;
  content: "";
  top: 100%;
}
.handBookCreate .partList .listBody .listCard .center {
  flex: 1;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.handBookCreate .partList .listBody .active {
  background-color: #ebebeb;
}
.handBookCreate .partList .listBody .active .step .step-btn {
  border-color: #e59233;
  color: #e59233;
}
.handBookCreate .partList .listBody .active .step .step-btn:before {
  background-color: #e59233;
}
.handBookCreate .partList .listBody .active .step .step-btn:after {
  background-color: #e59233;
}
.handBookCreate .partList .btn {
  width: 80%;
  height: 44px;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 20px;
}
.handBookCreate .concent {
  flex: 1;
  padding-left: 20%;
}
.handBookCreate .addPart {
  display: none;
  padding: 0 20px;
}
.handBookCreate .addPart .btn {
  width: 30%;
  height: 40px;
  font-size: 16px;
  display: inline-block;
}
#handBookPart {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  min-height: 100%;
}
.handBookPartView {
  width: 100%;
  height: 100%;
  top: 0;
  padding: 80px 0 20px;
  overflow-y: auto;
}
.main-body .vditor-toolbar label input {
  width: 32px;
  height: 32px;
  opacity: 0.001;
  overflow: hidden;
  top: -8px;
  left: -10px;
  cursor: pointer;
  z-index: 3;
}
.moveBtn {
  cursor: move;
  cursor: -webkit-grabbing;
  height: 40px;
  line-height: 40px;
  color: #888;
}
.moveBtn i {
  font-size: 20px;
}
.moveBtn:hover i {
  color: red;
}
@media screen and (max-width: 500px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
  }
  html,
  body {
    width: 100%;
  }
  body {
    background-color: #f4f5f5 !important;
  }
  .row {
    margin: 0;
  }
  .allCount {
    display: none;
  }
  .navbar {
    padding: 0!important;
    margin: 0!important;
    width: 100%!important;
    overflow: hidden;
  }
  .navbar .container {
    padding: 0;
    margin: 0;
  }
  .container {
    padding-right: 8px;
    padding-left: 8px;
  }
  .movieList {
    padding: 0;
    margin: 0 -5px;
  }
  .movieList .movieCard {
    padding: 5px;
  }
  .movieList .movieCard a {
    margin-bottom: 0px;
  }
  .blogSearch {
    display: none;
  }
  .breadcrumb {
    background-color: #f4f5f5 !important;
  }
  .topDiv {
    margin-bottom: 5px;
    margin-top: 6px;
    padding: 8px 15px 4px;
  }
  .selectHeader {
    height: 30px;
    margin-bottom: 0px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
  }
  .selectHeader ul {
    padding-left: 0 ;
  }
  .selectHeader h4 {
    width: 15%;
    vertical-align: middle;
    float: left;
    margin: 0px 0;
    padding: 3px 0;
  }
  .selectHeader div {
    width: 85%;
    overflow-x: auto;
    vertical-align: middle;
    float: right;
    margin: 0px 0;
    padding: 3px;
    background-color: #fafafa;
  }
  .selectHeader ul {
    width: 1000px;
  }
  .logoDiv {
    margin-right: 10px;
  }
  .logoDiv span {
    display: none;
  }
  .nav-left .pingpu li {
    padding: 0 5px;
    font-size: 15px;
  }
  .nav-right {
    display: none;
  }
  .movieCard img {
    height: auto;
    height: 270px;
  }
  .breadcrumb {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  .handBookCard a {
    padding: 0 10px;
  }
  .handBookCard .photoCard {
    left: 0;
    padding-left: 10px;
  }
  .blogList .blogCard {
    padding: 10px 0px;
  }
  .blogList .handBookCard {
    margin-right: 0;
    padding-right: 0;
    padding-left: 100px;
  }
  .blogList .handBookCard a {
    width: 100%;
  }
  .blogList .handBookCard .createdAt {
    display: none;
  }
  .classificationHeader ul li a {
    font-size: 14px;
  }
  .topDiv .searchTop .btn-default {
    display: none;
  }
  .blogList .blogCard .removeBlog {
    display: none!important;
  }
  .blogList .blogCard .removeBlog a {
    display: inline;
  }
  .handBookCreate .partList {
    width: 60px;
    overflow-x: hidden;
  }
  .handBookCreate .partList .title {
    display: none;
  }
  .handBookCreate .partList .listBody .listCard {
    padding: 10px;
  }
  .handBookPartView {
    padding: 55px 5px 40px 65px!important;
  }
  #handBookPart {
    padding: 10px;
  }
  .comment .listCard {
    padding: 10px;
  }
  .logoDiv img {
    margin-left: 10px;
  }
  .blogList {
    margin-top: 43px;
  }
  .searchTop .form-inline {
    height: 40px;
  }
}
