.iconfont {
  margin: 0 5px;
}
@font-face {
  font-family: 'iconfont';
  /* project id 1476614 */
  src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot');
  src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff2') format('woff2'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff') format('woff'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.ttf') format('truetype'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.svg#iconfont') format('svg');
}
body {
  background-color: #f4f5f5;
}
.mb20 {
  margin-bottom: 20px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
textarea:focus {
  outline-offset: 0px;
}
.dropdown-menu > li > a {
  padding: 8px 20px;
}
.a-upload {
  padding: 4px 10px;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  /* top: 6px; */
  display: inline;
}
.a-upload input {
  position: absolute;
  font-size: 10px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
}
.vditor-wysiwyg {
  border: 0;
  background-color: #fff;
  padding: 30px 50px!important;
}
