.DS_Store
node_modules 
build
public/upload
node-express-ts/build/public/upload
# local env files
.env
https
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
