<ol class="breadcrumb">
    <li><a href="/movie">电影</a></li>
    <li><%- movie.name %></li>
</ol>
<div class="movieDetail">
    <div class="imgCard">
        <div class="row baseDiv">
            <div class="col-xs-12 col-md-4">
                <img src="<%- movie.imgUrl %>" alt="">
            </div>
            <div class="col-xs-12 col-md-8 h100">
                <div class="movieJj">
                    <h3><%- movie.name %></h3>
                    <h5>更新时间： <%- movie.updateDate %></h5>
                    <p><span>简介：</span> <%- movie.sketch %></p>
                    <div class="downLoadCard">
                        <h6>迅雷 => 下载链接</h6>
                        <p><%- movie.downLink %></p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="detailCard">
            <% movie.details&&movie.details.detailDes.forEach(function(ms){ if(ms!=""){%>
            <p><%- ms %></p>
            <% }})%>
            <img src="<%- movie.details.detailImg %>" alt="">
        </div>
    </div>
    <%- include('./../components/comment.html') %>
</div>
<script>
    var subjectType = 'movie'; //评论的类型
</script>
<style>
    .breadcrumb {
        background-color: #f4f5f5;
    }

</style>