.iconfont {
  margin: 0 5px;
}
@font-face {
  font-family: 'iconfont';
  /* project id 1476614 */
  src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot');
  src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff2') format('woff2'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff') format('woff'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.ttf') format('truetype'), url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.svg#iconfont') format('svg');
}
body {
  background-color: #f4f5f5;
}
.mb20 {
  margin-bottom: 20px;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
textarea:focus {
  outline-offset: 0px;
}
.markDown {
  /*

    Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

    */
  /* Solarized Green */
  /* Solarized Cyan */
  /* Solarized Blue */
  /* Solarized Yellow */
  /* Solarized Orange */
  /* Solarized Red */
  /* Solarized Violet */
}
.markDown html,
.markDown body {
  font-family: "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
  font-size: 16px;
  color: #222;
  min-width: 200px;
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5rem;
}
.markDown h1,
.markDown h2,
.markDown h3,
.markDown h4,
.markDown h5,
.markDown h6 {
  font-family: "PT Sans", "SF UI Display", ".PingFang SC", "PingFang SC", "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1.8rem;
}
.markDown h1,
.markDown h2 {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
}
.markDown h2 {
  padding-top: 0.8rem;
  padding-bottom: 0.2rem;
}
.markDown h1 {
  font-size: 1.6rem;
}
.markDown h2 {
  font-size: 1.4rem;
}
.markDown h3 {
  font-size: 1.2rem;
}
.markDown h4 {
  font-size: 1.1rem;
}
.markDown h5 {
  font-size: 1rem;
}
.markDown h6 {
  font-size: 0.9rem;
}
.markDown table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}
.markDown tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.markDown th,
.markDown td {
  padding: 5px 14px;
  border: 1px solid #ddd;
}
.markDown blockquote {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid #D5D5D5;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
}
.markDown a {
  color: #1863a1;
}
.markDown pre,
.markDown code,
.markDown p code,
.markDown li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}
.markDown pre {
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 1px solid #e7dec3;
  line-height: 1.45em;
  font-size: 0.9rem;
  margin-bottom: 2.1em;
  padding: 0.8em 1em;
  color: #586e75;
  overflow: auto;
  background-color: #fdf6e3;
}
.markDown p code,
.markDown li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: 0.9rem;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 0.3em;
  margin: -1px 4px;
}
.markDown p pre code,
.markDown li pre code {
  font-size: 1em !important;
  background: none;
  border: none;
}
.markDown img {
  max-width: 100%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 0.5em solid;
}
.markDown hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.markDown .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
  -webkit-text-size-adjust: none;
}
.markDown .hljs-comment,
.markDown .diff .hljs-header,
.markDown .hljs-doctype,
.markDown .hljs-pi,
.markDown .lisp .hljs-string {
  color: #93a1a1;
}
.markDown .hljs-keyword,
.markDown .hljs-winutils,
.markDown .method,
.markDown .hljs-addition,
.markDown .css .hljs-tag,
.markDown .hljs-request,
.markDown .hljs-status,
.markDown .nginx .hljs-title {
  color: #859900;
}
.markDown .hljs-number,
.markDown .hljs-command,
.markDown .hljs-string,
.markDown .hljs-tag .hljs-value,
.markDown .hljs-rule .hljs-value,
.markDown .hljs-doctag,
.markDown .tex .hljs-formula,
.markDown .hljs-regexp,
.markDown .hljs-hexcolor,
.markDown .hljs-link_url {
  color: #2aa198;
}
.markDown .hljs-title,
.markDown .hljs-localvars,
.markDown .hljs-chunk,
.markDown .hljs-decorator,
.markDown .hljs-built_in,
.markDown .hljs-identifier,
.markDown .vhdl .hljs-literal,
.markDown .hljs-id,
.markDown .css .hljs-function,
.markDown .hljs-name {
  color: #268bd2;
}
.markDown .hljs-attribute,
.markDown .hljs-variable,
.markDown .lisp .hljs-body,
.markDown .smalltalk .hljs-number,
.markDown .hljs-constant,
.markDown .hljs-class .hljs-title,
.markDown .hljs-parent,
.markDown .hljs-type,
.markDown .hljs-link_reference {
  color: #b58900;
}
.markDown .hljs-preprocessor,
.markDown .hljs-preprocessor .hljs-keyword,
.markDown .hljs-pragma,
.markDown .hljs-shebang,
.markDown .hljs-symbol,
.markDown .hljs-symbol .hljs-string,
.markDown .diff .hljs-change,
.markDown .hljs-special,
.markDown .hljs-attr_selector,
.markDown .hljs-subst,
.markDown .hljs-cdata,
.markDown .css .hljs-pseudo,
.markDown .hljs-header {
  color: #cb4b16;
}
.markDown .hljs-deletion,
.markDown .hljs-important {
  color: #dc322f;
}
.markDown .hljs-link_label {
  color: #6c71c4;
}
.markDown .tex .hljs-formula {
  background: #eee8d5;
}
