@mainColor:#e59233;
@mainColorHover:#c67e2b;
@font-face {
    font-family: 'iconfont';  /* project id 1476614 */
    src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot');
    src: url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.woff') format('woff'),
    url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1476614_zjy3tw9vyz.svg#iconfont') format('svg');
  }

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}