.HandBookCreateModel {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4) !important;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.HandBookCreateModel .form-group {
  height: 130px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.HandBookCreateModel .form-group .headerImg {
  height: 120px;
  width: 90px;
  border: 1px solid #ccc;
}
.HandBookCreateModel .form-group .headerImg img {
  width: 88px;
  height: 118px;
  margin-top: 2px;
}
.HandBookCreateModel .form-group .a-upload {
  top: 44px;
}
.HandBookCreateModel .form-group .a-upload input {
  margin-top: 0px;
}
.HandBookCreateModel .body {
  width: 400px;
  height: 540px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
.HandBookCreateModel .body h4 {
  color: #e59233;
}
.HandBookCreateModel .body input {
  width: 360px;
  height: 40px;
  margin-top: 12px;
}
.HandBookCreateModel .body textarea {
  width: 360px;
  margin-top: 10px;
}
.HandBookCreateModel .body .selTypes {
  color: #888;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
}
.HandBookCreateModel .body .selTypes input {
  margin-top: 0px;
  border: 0px;
  width: 324px;
}
.HandBookCreateModel .body .selTypes .dropdown-toggle {
  font-size: 18px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
}
.HandBookCreateModel .body .selTypes .dropdown-toggle i {
  font-size: 20px;
  position: relative;
  top: 1px;
  right: -4px;
}
.HandBookCreateModel .body .selTypes .dropdown-toggle i:hover {
  color: #e59233;
}
.HandBookCreateModel .body .selTypes:hover {
  color: #555;
}
.HandBookCreateModel .body .btn {
  margin-top: 20px;
  height: 50px;
  font-size: 22px;
}
.HandBookCreateModel .body .close {
  position: fixed;
  top: 10px;
  right: 5px;
  font-size: 24px;
  color: #888;
  cursor: pointer;
}
.HandBookCreateModel .divider {
  margin: 0;
}
.HandBookCreateModel ul {
  padding-left: 0;
  text-align: center;
}
.HandBookCreateModel ul li {
  padding: 0;
  display: block;
}
.handBookCard {
  position: relative;
}
.handBookCard .photoCard {
  position: absolute;
  left: 40px;
  top: 20px;
}
.handBookCard .photoCard img {
  width: 90px;
  height: 120px;
}
.handBookCard a h4 {
  font-size: 18px !important;
}
.handBookCard .removeBlog {
  top: 58px !important;
}
.handBookCard .removeBlog a {
  padding: 0px;
}
.handBookCard a {
  padding: 0 130px;
  display: inline-block;
  min-height: 140px;
}
.handBookCard a p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 46px;
  padding-top: 4px;
  color: #777;
  margin-bottom: 0;
}
.handBookCreate {
  width: 100%;
  position: relative;
  display: flex;
}
.handBookCreate .partList {
  width: 20%;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50px;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  background-color: #fff;
  padding-bottom: 100px;
}
.handBookCreate .partList .title {
  font-size: 18px;
  text-align: center;
  border-bottom: 1px dashed #ccc;
  padding: 15px;
  color: #e59133;
  font-size: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.handBookCreate .partList .listBody {
  padding: 10px 0;
}
.handBookCreate .partList .listBody .listCard {
  padding: 15px 20px;
  display: flex;
  cursor: pointer;
}
.handBookCreate .partList .listBody .listCard:last-child .step .step-btn:after {
  height: 0;
}
.handBookCreate .partList .listBody .listCard:first-child .step .step-btn:before {
  height: 0;
}
.handBookCreate .partList .listBody .listCard:hover {
  background-color: #ebebeb;
}
.handBookCreate .partList .listBody .listCard:hover .step .step-btn {
  border-color: #e59233;
  color: #e59233;
}
.handBookCreate .partList .listBody .listCard:hover .step .step-btn:before {
  background-color: #e59233;
}
.handBookCreate .partList .listBody .listCard:hover .step .step-btn:after {
  background-color: #e59233;
}
.handBookCreate .partList .listBody .listCard .step {
  position: relative;
  margin: -20px 0;
}
.handBookCreate .partList .listBody .listCard .step .step-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  border: 2px solid #b5b7ba;
  font-size: 22px;
  margin-top: 20px;
  background-color: #fff;
  z-index: 1;
  position: relative;
  color: #b5b7ba;
}
.handBookCreate .partList .listBody .listCard .step .step-btn:before {
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #b5b7ba;
  height: 50%;
  content: "";
  top: -50%;
}
.handBookCreate .partList .listBody .listCard .step .step-btn:after {
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: #b5b7ba;
  height: 50%;
  content: "";
  top: 100%;
}
.handBookCreate .partList .listBody .listCard .center {
  flex: 1;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.handBookCreate .partList .listBody .active {
  background-color: #ebebeb;
}
.handBookCreate .partList .listBody .active .step .step-btn {
  border-color: #e59233;
  color: #e59233;
}
.handBookCreate .partList .listBody .active .step .step-btn:before {
  background-color: #e59233;
}
.handBookCreate .partList .listBody .active .step .step-btn:after {
  background-color: #e59233;
}
.handBookCreate .partList .btn {
  width: 80%;
  height: 44px;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 20px;
}
.handBookCreate .concent {
  flex: 1;
  padding-left: 20%;
}
.handBookCreate .addPart {
  display: none;
  padding: 0 20px;
}
.handBookCreate .addPart .btn {
  width: 30%;
  height: 40px;
  font-size: 16px;
  display: inline-block;
}
#handBookPart {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  min-height: 100%;
}
.handBookPartView {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 80px 0 40px;
  overflow-y: auto;
}
