page {
  background-color: #fafafa;
}
.at-search-bar::after {
  border-bottom-width: 0px;
  box-shadow: 0 0 6px rgba(187, 187, 187, 0.5);
}
.movieList {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.movieList .movieCard {
  box-shadow: 0 0px 10px rgba(187, 187, 187, 0.2);
  width: 47%;
  background-color: #fff;
  border-radius: 20px ;
  margin-bottom: 20px;
  overflow: hidden;
}
.movieList .movieCard .card-bottom {
  background-color: #fafafa;
  border-top: 1px dashed #eee;
  height: 52px;
  line-height: 48px;
  font-size: 22px;
  color: #888;
  display: flex;
}
.movieList .movieCard .card-bottom .left {
  padding-left: 20px;
}
.movieList .movieCard .card-bottom .left .number {
  display: inline;
  margin-right: 20px;
  font-size: 24px;
}
.movieList .movieCard .card-bottom .left .at-icon {
  font-size: 28px;
  margin-right: 10px;
}
.movieList .movieCard .moviePic {
  width: 100%;
  height: 540px;
}
.movieList .movieCard .concent {
  padding: 20px;
  padding-top: 4px;
}
.movieList .movieCard .concent .name {
  font-size: 28px;
  font-weight: 600;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.movieList .movieCard .concent .sketch {
  font-size: 24px;
  height: 64px;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.fenLei {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(187, 187, 187, 0.2);
  margin-bottom: 20px;
  margin-top: 84px;
}
.fenLei .flCard {
  width: 100%;
  overflow-x: scroll ;
  background-color: #fafafa;
  margin-bottom: 4px;
}
.fenLei .flCard .flType {
  display: flex;
  font-size: 28px;
}
.fenLei .flCard .flType .typeItem {
  padding: 6px 14px;
  border-radius: 6px;
  white-space: nowrap;
  margin: 10px 10px;
  color: #666666;
}
.fenLei .flCard .flType .active {
  background-color: #eee;
  color: #e59233;
}
.at-divider__content {
  background-color: #fafafa;
}
.shareBtn {
  position: fixed;
  right: 20px;
  bottom: 150px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e59233;
  color: #fff;
  box-shadow: 0 0px 10px rgba(187, 187, 187, 0.2);
  text-align: center;
  line-height: 32px;
  padding: 16px 0 0;
}
.shareBtn .wz {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 24px;
  padding-top: 6px;
}
.at-tabs__item--active {
  color: #e59233 !important;
}
.at-tabs__item-underline {
  background-color: #e59233 !important;
}
.at-tabs__header {
  position: fixed!important;
  width: 100%!important;
  top: 0;
  left: 0;
  z-index: 100;
}
.AtNoticebar {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(187, 187, 187, 0.3);
}
