<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="logoDiv">
            <img src="img/logo/logo.png" alt="" srcset="">
            <span>溜忙之道</span>
        </div>
        <div class="nav-left">
            <ul class="pingpu"> 
                <li>首页</li>
                <li>首页</li>
                <li>首页</li>
            </ul>
        </div>
        <div class="nav-right">
            <a href=""><i class="iconfont icon-shoujianludan"></i>写文章</a> 
            <span class="shuxian"></span>
            <a href="">注册</a> · <a href="">登录</a>
        </div>
    </div>
</nav>
