<nav class="navbar navbar-default navbar-fixed-top navbarCreateBlog" >
    <div <% if( editor && editor =='markDown'){ %>  <% } else {%>  class="container" <% }%> >
        <div class="logoDiv">
                <% if(req.session.user && req.session.user.profile && req.session.user.profile.picture){%>
                    <img src="<%= req.session.user.profile.picture %>" alt="">
                <% } else { %>
                    <img src="/img/logo/logo.png" alt="" srcset="">
                <% }%>
           
            <div class="btn-group selectedEditor" role="group">
                    <%= req.session.user && req.session.user.profile && req.session.user.profile.name %>
                <!-- <input type="button" class="btn btn-default active" placeholder="" value="MarkDown & 富文本编辑器"></button> -->
                <!-- <input type="button" class="btn btn-default " placeholder="" value=""></button> -->
            </div>
        </div>
        <div class="nav-right">
            <a class="sxBtn" onclick="publishBlog(false)"><i class="iconfont icon-zhangdan"></i>暂存</a>
            <span class="shuxian"></span>
            <a class="sxBtn" onclick="publishBlog(true)"><i class="iconfont icon-fenxiang1"></i>发布</a>
        </div>
    </div>
</nav>

<%- include('../components/login.html') %>
<script>
    function singin() {
        $("#login").css({
            display: "block"
        })
        $(".singinBody").css({
            display: "block"
        })
    };

    function singUp() {
        $("#login").css({
            display: "block"
        })
        $(".singupBody").css({
            display: "block"
        })
    };
</script>